
<div class="max-w-md mx-auto mb-14 text-center">
  <h1 class="text-4xl font-semibold mb-6 lg:text-5xl"> Tus <span class="text-indigo-600">Resultados</span>
  </h1>
  <p class="text-xl text-gray-500 font-medium">Busqueda por fecha.</p>
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>Mes/Dia/Año – Mes/Dia/Año</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  
    @if (range.controls.start.hasError('matStartDateInvalid')) {
      <mat-error>Invalid start date</mat-error>
    }
    @if (range.controls.end.hasError('matEndDateInvalid')) {
      <mat-error>Invalid end date</mat-error>
    }
  </mat-form-field>
</div>
<div class="w-full shadow-sm bg-slate-100 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 pt-6 pl-3 pr-3">
  @for (item of resultados; track $index) {

  <div class="bg-white dark:bg-gray-800 rounded py-5 pl-6 flex items-start shadow">
    <div class="text-gray-700 dark:text-gray-400">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dashboard" width="32" height="32"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <circle cx="12" cy="13" r="2" />
        <line x1="13.45" y1="11.55" x2="15.5" y2="9.5" />
        <path d="M6.4 20a9 9 0 1 1 11.2 0Z" />
      </svg>
    </div>
    <div class="pl-3 pr-10 mt-1">
      <h3 class="font-normal leading-4 pb-3 text-green-400 dark:text-black-100 text-base">{{item.fecha}}</h3>
      <button class=" border-blue-300 dark:blue-red-700 border-dashed border-3">
        <img src="https://pub-bb695d5f0667442a887cb27931ea5d88.r2.dev/coprologico%20con%20imagen%20(1).png">
      </button>
      <div class="flex items-end mt-4 ">
        <p class="ml-2 mb-1 text-sm text-gray-600 dark:text-gray-400">{{item.nombrePaciente}}</p>
      </div>
      <div class="flex items-center mt-1">
        <div class="text-green-400">
        <!--  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trending-up" width="24"
            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <polyline points="3 17 9 11 13 15 21 7" />
            <polyline points="14 7 21 7 21 14" />
          </svg>-->
        </div>
        <p class="text-green-400 text-xs tracking-wide font-bold leading-normal pl-1"></p>
      </div>
    </div>
  </div>
  }


</div>
<!-- Card code block end -->



<!--MODAL******************************-->
<button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
  Open large modal
</button>
<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          Modal Title
        </h3>
        
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <iframe class="w-full aspect-video" src="https://pub-bb695d5f0667442a887cb27931ea5d88.r2.dev/40213181072-75378"> </iframe>


      
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
            
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Close
        </button>
        <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>