<!-- Card is full width. Use in 12 col grid for best view. -->
<!-- Card code block start -->
<div class="max-w-md mx-auto mb-14 text-center">
  <h1 class="text-4xl font-semibold mb-6 lg:text-5xl"> Tus <span class="text-indigo-600">Resultados</span>
  </h1>
  <p class="text-xl text-gray-500 font-medium">Busqueda por fecha.</p>
</div>
<div class="w-full grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 pt-6 pl-3 pr-3">
  @for (item of resultados; track $index) {

  <div class="bg-white dark:bg-gray-800 rounded py-5 pl-6 flex items-start shadow">
    <div class="text-gray-700 dark:text-gray-400">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dashboard" width="32" height="32"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <circle cx="12" cy="13" r="2" />
        <line x1="13.45" y1="11.55" x2="15.5" y2="9.5" />
        <path d="M6.4 20a9 9 0 1 1 11.2 0Z" />
      </svg>
    </div>
    <div class="pl-3 pr-10 mt-1">
      <h3 class="font-normal leading-4 pb-3 text-gray-800 dark:text-black-100 text-base">{{item.cliente}}</h3>
      <button class=" border-blue-300 dark:blue-red-700 border-dashed border-3">
        <img src="https://pub-bb695d5f0667442a887cb27931ea5d88.r2.dev/coprologico%20con%20imagen%20(1).png">
      </button>
      <div class="flex items-end mt-4 ">
        <p class="ml-2 mb-1 text-sm text-gray-600 dark:text-gray-400">{{item.fechaResultado}}</p>
      </div>
      <div class="flex items-center mt-5">
        <div class="text-green-400">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trending-up" width="24"
            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <polyline points="3 17 9 11 13 15 21 7" />
            <polyline points="14 7 21 7 21 14" />
          </svg>
        </div>
        <p class="text-green-400 text-xs tracking-wide font-bold leading-normal pl-1">{{item.fechaResultado}}</p>
      </div>
    </div>
  </div>
  }


</div>
<!-- Card code block end -->