<div class="flex justify-evenly">
  <div>
    <div
      class="break-inside relative overflow-hidden flex flex-col justify-between space-y-3 text-sm rounded-xl max-w-[23rem] p-4 mt-2 mb-4 bg-indigo-300 text-black dark:bg-slate-800 dark:text-white"
    >
      <div class="flex items-center justify-between font-medium">
        <span class="text-xs fs-6 text-black">Fecha: 29/02/2024</span>
        <span class="text-xs text-slate-500"></span>
      </div>
      <div class="flex flex-row items-center space-x-3">
        <div
          class="flex flex-none items-center justify-center w-10 h-10 bg-purple-600 text-white"
        >
          <img
            src="https://static.vecteezy.com/system/resources/previews/003/761/849/non_2x/laboratory-test-color-icon-vector.jpg"
            width="40"
            height="40"
          />
        </div>
        <span class="text-base font-medium">Prueba: Análisis sanguíneo</span>
      </div>
      <p class="text-center fw-medium">Detalles:</p>
      <p>Analista: Eduardo Contreras</p>
      <p>ARS: Privado</p>
    </div>

    <div
      class="break-inside relative overflow-hidden flex flex-col justify-between space-y-2 text-sm rounded-xl max-w-[23rem] mt-2 p-4 mb-4 bg-[#5E17F4] text-white"
    >
      <div class="flex flex-row items-center space-x-3">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1667px-PDF_file_icon.svg.png"
          width="58"
          height="56"
          viewBox="0 0 52 50"
          fill="none"
        />
        <span class="text-base font-medium">Explorar mis resultados!</span>
      </div>

      <div class="flex justify-between items-center">
        <span></span>
        <button
          class="flex items-center justify-center text-xs font-medium rounded-full px-4 py-2 space-x-1 bg-white text-black"
        >
          <span>Visualizar resultados</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M5 12h13M12 5l7 7-7 7" />
          </svg>
        </button>
      </div>
      <div class="flex justify-between items-center">
        <span></span>
        <button
          class="flex items-center justify-center text-xs font-medium rounded-full px-4 py-2 space-x-1 bg-white text-black"
        >
          <span>Descargar resultados PDF</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M5 12h13M12 5l7 7-7 7" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div>
    <div
      class="break-inside relative overflow-hidden flex flex-col justify-between space-y-3 text-sm rounded-xl max-w-[23rem] p-4 mt-2 mb-4 bg-indigo-300 text-black dark:bg-slate-800 dark:text-white"
    >
      <div class="flex items-center justify-between font-medium">
        <span class="text-xs fs-6 text-black">Fecha: 29/02/2024</span>
        <span class="text-xs text-slate-500"></span>
      </div>
      <div class="flex flex-row items-center space-x-3">
        <div
          class="flex flex-none items-center justify-center w-10 h-10 bg-purple-600 text-white"
        >
          <img
            src="https://static.vecteezy.com/system/resources/previews/003/761/849/non_2x/laboratory-test-color-icon-vector.jpg"
            width="40"
            height="40"
          />
        </div>
        <span class="text-base font-medium">Prueba: Análisis sanguíneo</span>
      </div>
      <p class="text-center fw-medium">Detalles:</p>
      <p>Analista: Eduardo Contreras</p>
      <p>ARS: Privado</p>
    </div>

    <div
      class="break-inside relative overflow-hidden flex flex-col justify-between space-y-2 text-sm rounded-xl max-w-[23rem] mt-2 p-4 mb-4 bg-[#5E17F4] text-white"
    >
      <div class="flex flex-row items-center space-x-3">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1667px-PDF_file_icon.svg.png"
          width="58"
          height="56"
          viewBox="0 0 52 50"
          fill="none"
        />
        <span class="text-base font-medium">Explorar mis resultados!</span>
      </div>

      <div class="flex justify-between items-center">
        <span></span>
        <button
          class="flex items-center justify-center text-xs font-medium rounded-full px-4 py-2 space-x-1 bg-white text-black"
        >
          <span>Visualizar resultados</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M5 12h13M12 5l7 7-7 7" />
          </svg>
        </button>
      </div>
      <div class="flex justify-between items-center">
        <span></span>
        <button
          class="flex items-center justify-center text-xs font-medium rounded-full px-4 py-2 space-x-1 bg-white text-black"
        >
          <span>Descargar resultados PDF</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M5 12h13M12 5l7 7-7 7" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
